/* Drawer button styles */
.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 30%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.players-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 36%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 42%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.market-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 48%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.army-info-button {
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 54%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.fleet-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 60%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.war-result-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 66%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.price-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 72%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

/*Circle Button for tips*/
.tips-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 5px;
}

.game-tutorial-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    left: 80px;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 5px;
}

.menu-buttons {
    width: 225px;
    color: #000000;
    padding: 20px;
    border-radius: 25px;
    background-image: url("../images/interfaceAssets/large-button.jpg");
    background-position: center;
    font-weight: bolder;
    border: none;
}

.menu-game-list-button {
    width: 100px;
    color: #000000;
    padding: 10px;
    border-radius: 25px;
    background-image: url("../images/interfaceAssets/large-button.jpg");
    background-position: center;
    font-weight: bolder;
    border: none;
}