/* Drawer button styles */
.price-list-button {
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 305px;
    font-size: 30px;
    border-radius: 10px;
}

.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECC94B;
    z-index: 6;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 25px;
    font-size: 30px;
    border-radius: 10px;
}

.army-info-button {
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 90px;
    font-size: 30px;
    border-radius: 10px;
}

.fleet-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 155px;
    font-size: 30px;
    border-radius: 10px;
}

.market-button {
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 220px;
    font-size: 30px;
    border-radius: 10px;
}

.players-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECC94B;
    z-index: 6;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 285px;
    font-size: 30px;
    border-radius: 10px;
}

.war-result-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 25px;
    font-size: 30px;
    border-radius: 10px;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECC94B;
    z-index: 1;
    height: 60px;
    width: 60px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 350px;
    font-size: 30px;
    border-radius: 10px;
}

/*Circle Button for tips*/
.tips-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ECC94B;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1;
}

/*Zoom Buttons*/
.zoom-in-button {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 25px;
    right: 45%;
    z-index: 1;
}

.zoom-out-button {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 25px;
    left: 45%;
    z-index: 1;
}

.menu-buttons {
    width: 225px;
    color: dark;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    border: none;
}

.menu-game-list-button {
    width: 100px;
    color: dark;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    border: none;
}