/* Drawer button styles */
.settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 30%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.players-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 34%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 38%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.market-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 42%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.army-info-button {
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 57%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.fleet-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 61%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.war-result-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 65%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

.price-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/interfaceAssets/drawer_button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 45px;
    width: 45px;
    position: fixed;
    left: 69%;
    bottom: 25px;
    font-size: 20px;
    border-radius: 10px;
}

/*Circle Button for tips*/
.tips-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1;
}

/*Zoom Buttons*/
.zoom-in-button {
    width: 35px;
    height: 35px;
    color: #000000;
    font-size: 30px;
    position: fixed;
    bottom: 25px;
    left: 52.5%;
    z-index: 1;
}

.zoom-out-button {
    width: 35px;
    height: 35px;
    color: #000000;
    font-size: 30px;
    position: fixed;
    bottom: 25px;
    left: 47.5%;
    z-index: 1;
}

.menu-buttons {
    width: 225px;
    color: #000000;
    padding: 20px;
    background-image: url("../images/interfaceAssets/large-button.jpg");
    background-position: center;
    font-weight: bolder;
    border: none;
}

.menu-game-list-button {
    width: 100px;
    color: #000000;
    padding: 10px;
    background-image: url("../images/interfaceAssets/large-button.jpg");
    background-position: center;
    font-weight: bolder;
    border: none;
}