/* War Result Drawer styles*/
.my-war-result-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    height: 200px;
    width: 300px;
    margin-top: 80px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    top: 0;
    right: -305px;
    transition: right 0.3s ease;
    font-size: 14px;
}

.my-war-result-drawer.open {
    right: 0;
}

/* Prices Drawer styles */
.prices-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    height: 425px;
    width: 300px;
    margin-top: 350px;
    margin-right: 5px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    right: -305px;
    transition: right 0.3s ease;
    font-size: 13px;
}

.prices-drawer.open {
    right: 0;
}

/* Settings Drawer styles */
.settings-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    color: white;
    z-index: 7;
    height: 300px;
    width: 250px;
    padding: 10px;
    margin-top: 90px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease;
}

.settings-drawer.open {
    left: 0;
}

/* Army Info Drawer styles */
.army-info-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    z-index: 7;
    height: 600px;
    width: 400px;
    padding: 10px;
    margin-top: 90px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease;
}

.army-info-drawer::-webkit-scrollbar {
    width: 10px;
}

.army-info-drawer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.army-info-drawer::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    border-radius: 10px;
}

.army-info-drawer.open {
    left: 0;
}

/* Fleet Info Drawer styles */
.fleet-info-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    z-index: 7;
    height: 600px;
    width: 400px;
    padding: 10px;
    margin-top: 90px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease;
}

.fleet-info-drawer::-webkit-scrollbar {
    width: 10px;
}

.fleet-info-drawer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.fleet-info-drawer::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    border-radius: 10px;
}

.fleet-info-drawer.open {
    left: 0;
}

/* Market Drawer styles */
.market-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 7;
    height: 600px;
    width: 400px;
    padding: 10px;
    margin-top: 90px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.3s ease;
}

.market-drawer.open {
    left: 0;
}

/* Players in the game Drawer styles */
.players-in-game-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 7;
    height: 200px;
    width: 250px;
    padding: 10px;
    margin-top: 90px;
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
}

.players-in-game-drawer::-webkit-scrollbar {
    width: 10px;
}

.players-in-game-drawer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.players-in-game-drawer::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    border-radius: 10px;
}

.players-in-game-drawer.open {
    left: 0;
}

.attack-drawer {
    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
    padding: 10px;
    background-color: rgba(148, 163, 184, 0.5);
    font-weight: bolder;
    font-size: 16px;
    border-radius: 25px;
    overflow: hidden;
}

/* Chat Drawer styles*/
.chat-drawer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    height: 300px;
    width: 300px;
    margin-top: 290px;
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -305px;
    transition: left 0.3s ease;
    font-size: 14px;
}

.chat-body {
    height: 215px;
    overflow-y: auto;
}

.chat-body::-webkit-scrollbar {
    width: 10px;
}

.chat-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.chat-body::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    border-radius: 10px;
}

.chat-drawer.open {
    left: 0;
}