@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

body {
    scrollbar-width: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dark-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.dark-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.dark-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}