* {
    cursor: url("../images/cursor/cursor.png"), auto;
}

body,
html {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

body {
    scrollbar-width: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dark-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.dark-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.dark-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.menu-background {
    background-image: url("../images/backgrounds/chaquer_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.menu-title {
    font-size: 60px;
    font-weight: bolder;
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    width: 600px;
    text-align: center;
}

#menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 1000px) {
    .menu-row {
        flex-direction: row;
        min-height: 100vh;
    }
}

@media (max-width: 1000px) {
    .menu-row {
        flex-direction: column;
        justify-content: center;
    }
}

.loader-background {
    background-image: url("../images/backgrounds/chaquer_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.loader-box {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.loader-footer {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 400px;
    text-align: center;
    margin-top: 100px;
}