.menu-background {
    background-image: url("../images/backgrounds/menu-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    filter: blur(3px);
    z-index: -1;
    position: absolute;
}

.menu-title {
    font-size: 4vw;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

#menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

@media (min-width: 1000px) {
    .menu-row {
        flex-direction: row;
    }
}

@media (max-width: 1000px) {
    .menu-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .playerCardMargin {
        margin-top: 25px;
    }
}

.loader-box {
    width: 50vw;
    color: rgba(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}