/*Waiting for other players warning styles*/
.waiting-for-players-fade-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the transparency as needed */
    z-index: 5;
}

.waiting-for-players-message-container {
    width: 50%;
    top: 50%;
    left: 50%;
}

.waiting-for-players-info-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* The Modal (background) */
.winnerModal {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.winnerModal-content {
    margin: auto;
    display: block;
}

.player-color-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

/* Game tips styles */
.game-tips-box {
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(130, 170, 250, 0.5);
    text-align: center;
    color: white;
}

/* Player name modal */
.username-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the transparency as needed */
    z-index: 5;
}

.username-modal-container {
    width: 100%;
    top: 50%;
    left: 50%;
}

.username-modal {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}