/*Mine progress bar*/
.mine-progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(241, 241, 241);
    left: 50%;
    right: 0;
    top: 0;
    margin: 25px auto;
    padding: 20px;
    z-index: 1;
    position: absolute;
    background-color: rgb(148, 163, 184, 0.5);
    color: white;
}

.mine-progress-bar-col {
    width: 100px;
    font-weight: bolder
}

/*Credit progress bar*/
.credit-progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(241, 241, 241);
    left: 0%;
    right: 0;
    top: 0;
    margin: 25px auto;
    padding: 20px;
    z-index: 1;
    position: absolute;
    background-color: rgb(148, 163, 184, 0.5);
    color: white;
}

.credit-progress-bar-col {
    width: 200px;
    font-weight: bolder
}

/*Progress bar style where we show number of army progress*/
.army-progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: row;
    border: 2px solid rgb(241, 241, 241);
    left: 0;
    right: 50%;
    top: 0;
    margin: 25px auto;
    padding: 10px;
    z-index: 1;
    position: absolute;
    background-color: rgb(148, 163, 184, 0.5);
}

/* Event progress bars */
.event-progress-bar {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 140px auto;
    width: fit-content;
}